@import 'setting';

.channelTypeArea {
    padding: 10px 20px;
    border-bottom: 1px solid lighten($mainColor, 10%);
    @include media(1024) {
        display: none;
    }
    ul {
        margin: 0 -10px;
        li {
            padding: 0 10px;
        }
    }
}

.btn {
    background-color: $secColor;
    width: 52px;
    height: 52px;
    border-radius: 999px;
    border: 0;
    cursor: pointer;
    @extend %ts;
    &:hover {
        background-color: darken($secColor, 10%);
    }
    span {
        font-size: 30px;
        color: $mainColor;
        @extend %ts;
    }
    &.home {
        background-color: lighten($secColor, 18%);
        box-shadow: 0 0 7px $secColor;
        &:hover {
            background-color: lighten($secColor, 25%);
        }
        span {
            color: darken($secColor, 18%);
        }
    }
}