@import 'setting';

.view.signup {
    background: no-repeat url(../images/login_bg.jpg) center/cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media(720) {
        background: $mainColor;
        padding-bottom: 40px;
    }
    .formBox {
        padding-top: 40px;
        form {
            input {
                margin-top: 0;
            }
        }
    }
}